<page-header></page-header>

<mat-card>
  <mat-card-title>Employee List</mat-card-title>
  <!-- <mat-card-subtitle><strong>Note:</strong><mark class="ms-1">Please double click on the table cell to edit the value or click edit button</mark></mat-card-subtitle> -->
  <mat-card-actions align="end">
    <button mat-raised-button color="primary" (click)="refresh()">
      <mat-icon>refresh</mat-icon>Refresh
    </button>
    <button mat-raised-button color="primary" class="ms-2" (click)="addEmployee()">
      <mat-icon>add</mat-icon>Add
    </button>
  </mat-card-actions>
  <ag-grid-angular
      style="width: 100%; height: 500px;"
      class="ag-theme-alpine"
      [defaultColDef]="defaultColDef"
      (gridReady)="onGridReady($event)"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [frameworkComponents]="frameworkComponents">
  </ag-grid-angular>
</mat-card>
